cluster.name: elastic-cluster
node.name: "{{ inventory_hostname }}"
node.roles: ["{{ hostvars[inventory_hostname].roles | default(['master']) }}"]
network.host: 0.0.0.0
discovery.seed_hosts: ["es-master1", "es-master2", "es-master3"]
cluster.initial_master_nodes: ["es-master1", "es-master2", "es-master3"]
xpack.security.enabled: true
xpack.security.transport.ssl.enabled: true
xpack.security.transport.ssl.verification_mode: certificate
xpack.security.transport.ssl.key: {{ certs_dir }}/{{ inventory_hostname }}.key
xpack.security.transport.ssl.certificate: {{ certs_dir }}/{{ inventory_hostname }}.crt
xpack.security.transport.ssl.certificate_authorities: [ "{{ certs_dir }}/ca.crt" ]
